html,
body {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}
html header,
body header {
  height: 200px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: url('/images/head-background.png') no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px #000 inset;
}
html header #area-logo,
body header #area-logo {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
}
html header #area-logo img,
body header #area-logo img {
  width: 100%;
}
html section.site-content,
body section.site-content {
  background-color: #fff;
  z-index: 9999;
  margin-top: 100px;
  width: 100%;
  text-align: center;
  padding: 10px;
}
html section .drive-viewer-close-enabled,
body section .drive-viewer-close-enabled {
  background-color: #fff !important;
}
html section iframe,
body section iframe,
html section object,
body section object,
html section embed,
body section embed {
  width: 100%;
  background-color: #fff;
  border: none;
}